body{

  background-image: url(../imagenes/robot.JPG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 50px;
  height: 50px;
  margin: 0;
  text-align: center;
}


.contenedor{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Acme', sans-serif;
}
.calculadora{
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    background-color: #F4F3F9;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Acme', sans-serif;
    opacity: 0.90;
}
.input_calculadora {
    width:400px;
    height: 10;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}

.borde_gris {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 20px;
}
#resultados {
    color: black;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}
#errores {
    color: black;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

  h1{
    font-family: 'Titillium Web', sans-serif;
    color: White;
    font-size: 55px;
    text-align: center;
  }
  #boton_calcular {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #18057A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #boton_calcular:hover {
  background-color:white;
  color: black;
  }
  
  #boton_calcular:active {
    background-color: #18057A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

